/* Font Cairo */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap');

/* Root selector */
:root {
  --primary-color: #85b114;
}

.primary {
  background-color: var(--primary-color);
}

body {
  font-family: 'Cairo', sans-serif;
}

/* Swiper Start */
.swiper {
  width: 90%;
  height: 500px;
  margin-top: 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* Swiper End */